$title-color-dark: #ccc;
$title-weight: 500;


@use 'bulma/sass' with (
	$family-primary: '"Roboto Flex Variable", sans-serif',
	$title-weight: 550
);



@font-face {
	font-family: 'Roboto Flex Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	src: url(@fontsource-variable/roboto-flex/files/roboto-flex-latin-wdth-normal.woff2)
		format('woff2-variations');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}


// @forward "bulma/sass/base";
// @forward "bulma/sass/helpers";
// @forward "bulma/sass/grid/columns";
// @forward "bulma/sass/elements/box";
// @forward "bulma/sass/layout/container";
// @forward "bulma/sass/elements/icon";
// @forward "bulma/sass/elements/title";
// @forward "bulma/sass/helpers/other";
// @forward "bulma/sass/components/card";
// @forward "bulma/sass/layout/section";

// @import '../node_modules/bulma/sass/helpers/_index.scss';
// 	@import '../node_modules/bulma/sass/grid/columns.sass';
// 	@import '../node_modules/bulma/sass/elements/box.sass';
// 	@import '../node_modules/bulma/sass/elements/container.sass';
// 	@import '../node_modules/bulma/sass/elements/icon.sass';
// 	@import '../node_modules/bulma/sass/elements/title.sass';
// 	@import '../node_modules/bulma/sass/elements/image.sass';
// 	@import '../node_modules/bulma/sass/elements/other.sass';
// 	@import '../node_modules/bulma/sass/components/card.sass';
// 	// @import "../node_modules/bulma/sass/form/_index.scss";
// 	// @import "../node_modules/bulma/sass/components/navbar.sass";
// 	// @import "../node_modules/bulma/sass/layout/hero.sass";
// 	@import '../node_modules/bulma/sass/layout/section.sass';
// 	@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass"; */

@media (prefers-color-scheme: light) {
	.hide-in-light {
		display: none !important;
	}
}
@media (prefers-color-scheme: dark) {
	html {
		background: #121212;
	}
	.hide-in-dark {
		display: none !important;
	}
}
